node_modules
.env
.env.local
*.log
coverage
coverage.json
coverage/
.nyc_output/
*.tgz
.DS_Store
dist/
build/
*.pem
typechain
typechain-types

# Hardhat files
cache
artifacts

# TypeScript
*.tsbuildinfo

# IDE
.vscode
.idea
